html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    max-width: 100%;
}

/*title*/
h1 {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.5em;
    margin-top: 0;
    text-decoration: none;
    font-weight: bold;
    font-size: 3rem;
}

/*nav bar*/
.nav-list {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0.5em;
    margin: 0;
    font-size: 2.5rem;
}

/*intro section*/
.intro {
    margin: 2em 0;
    padding: 2em;
    box-shadow: 0 0 2rem -0.5rem black;
    font-size: 2rem;
}

.intro-image {
    width: 250px;
    float: left;
    padding: 1em;
}

/*footer bar*/
footer {
    font-size: 2rem;
    float: center;
    background-color: black;
    text-align: center;
    width: 100%;
    margin: 1em;
}

/*links*/
a:link, a:visited {
    background-color: blueviolet;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/* mouse over link */
a:hover, a:active {
    background-color: orange;
}

/*makes images easier to work with*/
img {
    max-width: 100%;
    display: block;
}

/*ages 0-1 page*/

.container {
    box-sizing: border-box;
}

.book-grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.card {
    background: white;
    border: 5px solid purple;
}

.card__content {
    align-self: auto;
    margin: .5rem .5rem 2rem;
    padding: .5rem;
    font-family: Garamond;
}

.card img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.card__content h2 {
    font-size: 2rem;
    line-height: 1.1;
    text-align: center;
}

.card__content p {
    font-size: 2rem;
}